<div class="container">
  <header class="jumbotron">
    <h1 class="display-3">
      <strong>{{currentapplicant.name}}</strong>GENEL NİTELİKLER VE İŞ TANIMI
Gerçek başarıda olağanüstü tutku, olağanüstü yetenek her şeyden önce gelir.
Yelloware bireysel mükemmelliklerin birbirini tamamladığı uyumlu bir ekibin olağanüstü tutku ve olağanüstü yeteneğin yansımasıdır. Mükemmel sonuçlar elde etmek için mükemmel bir ekip gerekir. Yelloware’de her ekip üyesinin fikrinin duyulmasını sağlamak taahhüdümüzdür. Ürünlerimizin ve hizmetlerimizin müşterilerimizin hayatlarını nasıl değiştirip yeniden inşa edildiği konusunda paylaşılacak bir hikayemiz var. “Let the coding begin…”
    </h1>
    <h1 class="display-3"><strong>{{applicantId}}</strong></h1>
  </header>
</div>
